@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* font-family: 'League Spartan', sans-serif; */

:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
main {
  width: 90vw;
  margin: 0 auto;
}
h1 {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--VeryDarkMagenta);
}

p {
  color: var(--DarkGrayishMagenta);
  line-height: 1.5;
}

.description {
  text-align: center;
}

.rates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.reviews,
.report-guru,
.besttech {
  display: flex;
  flex-direction: column;
  background-color: var(--LightGrayishMagenta);
  border-radius: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.star-img {
  display: flex;
  padding-top: 1rem;
}

.stars {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  padding: 1rem;
}

.opinions {
  background-color: var(--VeryDarkMagenta);
  color: var(--White);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

.person {
  display: flex;
}

.portrait {
  border-radius: 50%;
  height: 3rem;
  margin: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
