@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* font-family: 'League Spartan', sans-serif; */

:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url(/images/bg-pattern-top-mobile.svg),
  url(/images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top left, bottom right;
}
main {
  width: 90vw;
  margin: 0 auto;
 }
h1 {
  margin: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--VeryDarkMagenta);
}

p {
  color: var(--White);
  line-height: 1.5;
 
}

.description {
  text-align: center;
  margin: 1.5rem auto;
  color: var(--VeryDarkMagenta);
 }

.rates {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  }

.reviews,
.report-guru,
.besttech {
  display: flex;
  flex-direction: column;
  background-color: var(--LightGrayishMagenta);
  border-radius: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.star-img {
  display: flex;
  padding-top: 1rem;
}

.stars {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
  padding: 1rem;
}

.opinions {
  background-color: var(--VeryDarkMagenta);
  color: var(--White);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 0 1rem 0;
}

.person {
  display: grid;
  grid-template-columns:20% 80%;
  
}

.portrait {
  border-radius: 50%;
  height: 3rem;
  margin: 1rem;
  grid-row-start: 1; grid-row-end: -3;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

p.name,
p.opinions{
  color: var(--White);
  margin-left: 25px;
align-self: end; }

p.buyer{
 color: var(--SoftPink);
 margin-left: 25px;
}

@media (orientation: landscape) and (min-width: 1024px){

  main{
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:auto auto;
    }
    body {
      min-height: 100vh;
      background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: top left, bottom right;
    }
  .desc-coin{
    grid-area: 1  / span 3;
    margin: 10rem 12rem 0rem 2rem;
    text-align: left;
  }

  h1 {
    margin: 1rem auto;
    text-align: left;
    font-size: 4.5rem;
    color: var(--VeryDarkMagenta);
  }
  
.description{
  text-align: left;
  font-size: 1.5rem;
 
}
  .rates{
    grid-area: 1 / span 3;
    width: 90%;
    justify-self: center;
  }

  .star-img{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 1rem;
         }
  .stars {
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 1rem;
    justify-self: center;
  }
  .reviews,
  .report-guru,
  .besttech{
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .reviews{
   align-self: flex-start;
  
  }

  .besttech{
    align-self: flex-end;
  }

  .opinions{
    width: 90%;
    margin: 2rem;
    
    
  }

  p.opinions{
    font-size: 1rem;
    justify-self: center;
   
  }
  .op-1{
    grid-area: 2 / span 2;
    align-self: flex-start;
  }

  .op-2{
    grid-area: 2 / span 2;
    align-self: center;
  }
  
  .op-3{
    grid-area: 2 / span 2;
    align-self: flex-end;
  }

}